@charset "UTF-8";

:root {
--color001: #2c2c2b;
--color002: #100c08;
--color003: #3d4633;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--color003);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
     transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: var(--color003) url(../img/img.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px; 
}

div#formulario > h1 {
    font-size: 2.1em;
    text-align: center;
}

div#formulario > h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 10px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--color003);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--color002);
    transition: 0.5s ease;
}

form > input[type=submit]:hover {
    background-color: #24291d;
}

form > a.botao {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: var(--color001);
    border: 1px solid var(--color002);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}

form > a.botao:hover {
   background-color: var(--color002);
}

form > a.botao > span {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--color003);
    border: 4px solid var(--color003);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo span {
    color: white;
    font-size: 2em;
    width: 40px;
}

div.campo > input {
    background-color: var(--color003);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 45px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
    transition: 0.5s ease;
}

div.campo > input:hover{
    background-color: white;
    border: none;
}

div.campo > input:focus {
    outline: none; 
}


