@charset "UTF-8";

:root {
--color001: #2c2c2b;
--color002: #100c08;
--color003: #3d4633;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--color003);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

section#login > div#imagem {
    display: block;
    background: var(--color003) url(../img/img.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px; 
}